@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none !important;
}
h1 {
  font-size: 40px;
  line-height: 60px;
  /* or 140% */

  color: #0b132a;
}

.a-style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #4f5665;
}

.sign-up {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #f53855;
  border: 1px solid #f53855;
  box-sizing: border-box;
  border-radius: 50px;
}

.sign-up:hover {
  color: #f53855;
}

.sign-in {
  font-weight: 500;
  font-size: 16px;
  color: #0b132a;
}
.sign-in:hover {
  color: #0b132a;
}

.hero_text {
  font-size: 16px;
  line-height: 30px;
  /* or 187% */

  color: #4f5665;
}

.hero_btn {
  background: #f53838;
  border-radius: 10px;
  font-size: 16px;
  line-height: 25px;
  color: #fff;
}

.num_headnum {
  font-size: 25px;
  line-height: 30px;
  /* identical to box height, or 120% */

  color: #0b132a;
}
.num_subhead {
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */

  color: #4f5665;
}

.list-group-item,
.list-group.list-group-flush {
  border: none !important;
}

.plan-card {
  background: #ffffff !important;
  border: 2px solid #dddddd !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
}

.plan-card:hover {
  border: 2px solid #f53838 !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
}

.plan-card li {
  color: #4f5665;
  font-size: 14px;
  line-height: 30px;
}

.plan-btn {
  border: 2px solid #f53838;
  box-sizing: border-box;
  border-radius: 50px;
  color: #f53838;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.plan-sub-head {
  color: #4f5665;
}

.loc-sub-head {
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */

  text-align: center;

  color: #4f5665;
}

.clients .card  {
 
  border: 2px solid  #F6F6F6 !important;
  box-sizing: border-box;
  border-radius: 10px;
}

.cardstyle:hover 
{ 
  border: 2px solid #F53838 !important;
  
}


